mat-icon {
  font-size: 30px; /* taille de l'icône */
}

#app{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-left: 5px solid rgb(35, 82, 149);
}

#form-add{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
