<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right">
            <button mat-flat-button routerLink="/" color="primary">
              <span class="micon dw dw-mouse text-light"></span><span class="mtext mx-2">Autres</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box">
        <mat-card class="mat-elevation-z0 bg-transparent">
          <mat-card-content>
            <div class="row">
              <div class="col-12 col-lg-4 col-sm-4 col-md-6">
                <div class="card mb-4 shadow-lg border-0 m-2">
                  <div class="card-body text-center">
                    <h4 class="my-3 fw-bold text-primary" id="text">STOCK (ENTRER)</h4>
                    <h2 class="text-center">Aujourd'hui</h2>
                    <div class="p-3">
                      <h2>{{ STOCK_PRINCIPALE_DU_JOUR | number: '2.0-2'}} g</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-sm-4 col-md-6">
                <div class="card mb-4 shadow-lg border-0 m-2">
                  <div class="card-body text-center">
                    <h4 class="my-3 fw-bold text-danger" id="text">STOCK (EXPEDIE)</h4>
                    <h2 class="text-center">Aujourd'hui</h2>
                    <div class="p-3">
                      <h2>{{ QTE_EXPEDIER | number: '2.0-2'}} g</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4 col-sm-4 col-md-6">
                <div class="card mb-4 shadow-lg border-0 m-2">
                  <div class="card-body text-center">
                    <h4 class="my-3 fw-bold text-success" id="text">STOCK (ACTIF <span
                        class="dw dw-inbox text-success"></span>)</h4>
                        <h2 class="text-center">Total</h2>
                    <div class="p-3">
                      <h2>{{ (STOCK_PRINCIPALE_ENTRER - QTE_EXPEDIER) | number: '2.0-2'}} g</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
