<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right">
            <button mat-raised-button color="primary" (click)="openDialog()" class="mx-2"><i class="dw dw-add text-light mx-2"></i> <span class="mtext"> Nouvelle operation</span></button>
            <button mat-raised-button color="warn">Autres</button>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box">
        <mat-card class="mat-elevation-z0 bg-transparent">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <div class="card mb-4 shadow-lg border-0">
                  <div class="card-body text-center">
                    <h4 class="my-2 text-primary" id="text">
                      Entrer du jour
                      (
                      <button mat-stroked-button color="primary" class="fw-bold" (click)="showSolde()"
                        *ngIf="!viewSOLDE">Voir le solde
                        !</button>
                      <button mat-stroked-button color="warn" class="fw-bold" (click)="hideSolde()"
                        *ngIf="viewSOLDE">cacher le solde
                        !</button>
                      )
                    </h4>
                    <hr>
                    <div class="p-2 d-flex justify-content-between align-items-center flex-wrap">
                      <div class="col-12 text-start">
                        <table class="table table-responsive-md" *ngIf="viewSOLDE">
                          <thead class="text-primary fw-bold">
                            <th class="bg-secondary text-light fw-bold text-center">DEVISE</th>
                            <th>ENTRER</th>
                            <th>SOLDE</th>
                          </thead>
                          <tbody>
                            <tr>
                              <td class=" fw-bold text-light bg-secondary text-center">USD</td>
                              <td>{{USDAmount_ | number: '2.2-2'}}</td>
                              <td>{{USDAmount | number: '2.2-2'}}</td>
                            </tr>
                            <tr>
                              <td class=" fw-bold text-light bg-secondary text-center">GNF</td>
                              <td>{{GNFAmount_ | number: '2.2-2'}}</td>
                              <td>{{GNFAmount | number: '2.2-2'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <hr>

        <!-- History -->
        <div class="table-responsive">
          <mat-card class="mat-elevation-z8" id="matTable">
            <mat-card-title>
              <h2 class="text-blue">Historique des op&#233;rations du jour</h2>
            </mat-card-title>
            <mat-card-content>
              <mat-form-field class="w-100">
                <input [formControl]="search" placeholder="Rechercher une oper&#233;tion..." matInput>
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <table mat-table class="table table-responsive-md">
                <thead>
                  <th>#</th>
                  <th>Date Operation</th>
                  <th>Type</th>
                  <th>Devise</th>
                  <th>Montant</th>
                  <th>Motif</th>
                  <th>Solde A</th>
                </thead>
                <tbody>
                  <tr *ngFor="let data of historiqueEntrer; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>Le : {{ data.created_at | date: "dd/mm/Y" }}</td>
                    <td>
                      <span class="text-info" *ngIf="data.operation == 1"><span class="dw dw-down-arrow2"></span>
                        Entrer</span>
                      <span class="text-success" *ngIf="data.operation == 3">Retour Fournisseur <span
                          class="dw dw-share-2"></span></span>
                    </td>
                    <td *ngIf="data.devise == 1" class="text-dark"><i><u>GNF</u></i></td>
                    <td *ngIf="data.devise == 2" class="text-dark"><i><u>USD</u></i></td>
                    <td>{{ data.montant | number }}</td>
                    <td>{{ data.motif }}</td>
                    <td>{{ data.montant_anterieur | number }}</td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [pageSizeOptions]="[10,15,100]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
