<h1 matDialogTitle>Convertisseur</h1>

<mat-dialog-content>
  <form [formGroup]="convertisseur">
    <!-- SOURCE : DE -->
      <mat-form-field appearance="outline" class="w-100 mb-2">
        <mat-label>--- SOURCE A CONVERTIR ---</mat-label>
        <mat-select formControlName="deviseSource" required (selectionChange)="selectDevise($event.value)">
          <mat-option>--</mat-option>
          <mat-option [value]="1">GNF</mat-option>
          <mat-option [value]="2">USD</mat-option>
        </mat-select>
        <mat-hint>Liste des devises</mat-hint>
      </mat-form-field>

      <!-- VERS -->
      <div class="p-2"></div>
      <input type="number" hidden id="dest" matInput placeholder="..." formControlName="destinationDevise">
      <mat-label class="text-uppercase">DESTINATION</mat-label>
      <h5 id="labelDest" class="text-primary fw-bold pt-1"></h5>

      <!-- MONTANT -->
      <div class="p-2"></div>
      <mat-form-field class="w-100">
        <mat-label class="text-uppercase">MONTANT A CONVERTIR</mat-label>
        <input type="number" matInput placeholder="1 000" formControlName="montant">
      </mat-form-field>

      <!-- TAUX -->
      <div class="p-2"></div>
      <mat-form-field class="w-100">
        <mat-label class="text-uppercase">TAUX DE CONVERSION</mat-label>
        <input type="number" matInput placeholder="1 450" formControlName="taux">
      </mat-form-field>

      <div class="p-2"></div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" matDialogClose>Abandonner</button>
  <button mat-flat-button color="primary" [disabled]="convertisseur.invalid" (click)="convertir()">Valider</button>
</mat-dialog-actions>
