<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-12 col-md-4 col-sm-12">
                        <div class="title">
                            <h4 class="text-capitalize fs-3">{{title}}</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-outline-primary btn-sm mx-2" href="#" routerLink="/bank/add-account">
                            <span class="micon dw dw-user-3"></span><span class="mtext mx-2">Cr&#233;er un compte</span>
                        </a>
                        <a class="btn btn-outline-primary mx-2" href="#" routerLink="/bank/list-account">
                            <span class="micon dw dw-list"></span><span class="mtext mx-2">Liste Generale</span>
                        </a>
                        <a class="btn btn-outline-primary btn-sm mx-2" href="#" routerLink="/operation-bank/depot">
                            <span class="micon dw dw-mouse"></span><span class="mtext mx-2">D&#233;pôt</span>
                        </a>
                        <a class="btn btn-outline-primary btn-sm mx-2" href="#" routerLink="/operation-bank/retrait">
                            <span class="micon dw dw-mouse"></span><span class="mtext mx-2">R&#233;trait</span>
                        </a>
                        <a class="btn btn-primary btn-sm mx-2" href="#" routerLink="/operation-bank/virement">
                            <span class="micon dw dw-mouse"></span><span class="mtext mx-2">Virement</span>
                        </a>
                        <a class="btn btn-outline-primary btn-sm mx-2" href="#" routerLink="/bank">
                            <span class="micon dw dw-mouse"></span><span class="mtext mx-2">Autres</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Add -->
            <div class="card-box mb-30">
                <!-- <div class="pd-20">
                <h4 class="text-blue h4">Ajout d'un fournisseurs</h4>
             </div> -->
                <div class="pb-20">
                    <mat-card>

                        <form>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">Titulaire</label>
                                <div class="col-sm-12 col-md-10">
                                    <input class="form-control" type="text" placeholder="Nom complet du titulaire">
                                </div>
                            </div>

                            <!-- btn -->
                            <div class="d-flex justify-content-center mx- mb-2 mb-lg-2">
                                <button type="submit" name="button" class="btn btn-outline-success">
                                    <span id="text_contact">Enregistrer</span>
                                </button>
                            </div>
                        </form>

                    </mat-card>
                </div>
            </div>
            <!-- Fin ajout -->
        </div>
    </div>
</div>