<div class="header">
  <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
    <div class="col d-none d-lg-block">
      <!-- <button mat-button class="mx-2 p-2 btn-outline-dark text-light border border-light" color="">
        <i class="micon dw dw-user-1 fw-bold mx-2" style="font-size: 25px"></i>
        <span> Orpailleur</span>
      </button> -->
      <!-- <a routerLink="/caisse/" routerLinkActive="active-topbar" class="mx-2" mat-stroked-button color="accent">
        <i class="micon dw dw-money-2 fw-bold mx-2" style="font-size: 25px"></i>
        <span> Comptabilit&#233;</span>
      </a>
      <a routerLink="/caisse/" routerLinkActive="active-topbar" class="mx-2"  mat-stroked-button color="accent">
        <i class="micon dw dw-file2 fw-bold mx-2" style="font-size: 25px"></i>
        <span> STOCK</span>
      </a>
      <a routerLink="/caisse/" routerLinkActive="active-topbar" class="mx-2"  mat-stroked-button color="accent">
        <i class="micon dw dw-user2 fw-bold mx-2" style="font-size: 25px"></i>
        <span> Users</span>
      </a> -->
      <h1 id="societe" class="p-3 m-2 fw-bold">
        <marquee behavior="alternate" direction="">LIMANAYA BUSINESS</marquee>
      </h1>
    </div>
  </div>
  <div class="header-right">
    <div class="dashboard-setting user-notification">
      <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="javascript:void(0);" data-toggle="right-sidebar">
          <i class="dw dw-settings2"></i>
        </a>
      </div>
    </div>
    <div class="user-notification">
      <div class="dropdown">
        <a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
          <i class="icon-copy dw dw-notification"></i>
          <span class="badge notification-active"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="notification-list mx-h-350 customscroll">
            <ul>
              <li>
                <a href="#">
                  <!-- <img src="../../assets/images/vendors/images/img.jpg" alt=""> -->
                  <h3>John Doe</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <img src="../../assets/images/vendors/images/photo1.jpg" alt=""> -->
                  <h3>Lea R. Frith</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <img src="../../assets/images/vendors/images/photo2.jpg" alt=""> -->
                  <h3>Erik L. Richards</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <img src="../../../assets/vendors/images/photo3.jpg" alt=""> -->
                  <h3>John Doe</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <img src="../../../assets/vendors/images/photo4.jpg" alt=""> -->
                  <h3>Renee I. Hansen</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                </a>
              </li>
              <li>
                <a href="#">
                  <!-- <img src="../../../assets/vendors/images/img.jpg" alt=""> -->
                  <h3>Vicki M. Coleman</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed...</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="user-info-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <span class="user-icon">
            <img src="../../../assets/vendors/images/photo1.jpg" alt="">
          </span>
          <span class="user-name">Administrateur</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
          <a class="dropdown-item" href="#"><i class="dw dw-user1"></i> Profile</a>
          <a class="dropdown-item" href="#"><i class="dw dw-settings2"></i> Setting</a>
          <a class="dropdown-item" href="#"><i class="dw dw-help"></i> Help</a>
          <a class="dropdown-item" href="#"><i class="dw dw-logout"></i> Log Out</a>
        </div>
      </div>
    </div>
    <div class="github-link">
      <a href="https://github.com/dropways/deskapp" target="_blank">
        <img src="../../../assets/vendors/images/github.svg" alt="">
      </a>
    </div>
  </div>
</div>
