<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right">
            <button mat-raised-button color="primary" (click)="openDialog()" class="mx-2"><span class="mdi mdi-plus-thick"></span> Nouveau client</button>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box mb-30">
        <div class="pb-10 table-responsive-sm p-2">
          <mat-card class="mat-elevation-z2">
            <mat-card-title>
              <h2 class="text-blue">Liste g&#233;n&#233;rale des clients</h2>
            </mat-card-title>
            <mat-card-content id="">
              <mat-form-field class="w-100">
                <input [formControl]="search" placeholder="Rechercher un fournisseur ici...." matInput>
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
              <table mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="raison_sociale">
                  <th mat-header-cell *matHeaderCellDef>Soci&#233;t&#233;</th>
                  <td mat-cell *matCellDef="let element">{{element.raison_sociale}}</td>
                </ng-container>
                <ng-container matColumnDef="responsable">
                  <th mat-header-cell *matHeaderCellDef>Representant</th>
                  <td mat-cell *matCellDef="let element">{{element.responsable}}</td>
                </ng-container>
                <ng-container matColumnDef="pays">
                  <th mat-header-cell *matHeaderCellDef>Pays</th>
                  <td mat-cell *matCellDef="let element">{{element.pays}}</td>
                </ng-container>
                <ng-container matColumnDef="ville">
                  <th mat-header-cell *matHeaderCellDef>Ville</th>
                  <td mat-cell *matCellDef="let element">{{element.ville}}</td>
                </ng-container>
                <ng-container matColumnDef="adresse">
                  <th mat-header-cell *matHeaderCellDef>Adresse</th>
                  <td mat-cell *matCellDef="let element">{{element.adresse}}</td>
                </ng-container>
                <ng-container matColumnDef="tel">
                  <th mat-header-cell *matHeaderCellDef>Telephone</th>
                  <td mat-cell *matCellDef="let element">{{element.telephone}}</td>
                </ng-container>
                <ng-container matColumnDef="mail">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">{{element.email}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <a routerLink="/client/detail-client/{{element.id}}" mat-flat-button color="primary" class="mx-3">Dossier <span class="dw dw-folder-78 text-light"></span></a>
                   </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displaysColums;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns:displaysColums"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10,15,100]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
