<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-5 col-sm-12">
            <div class="title">
              <h4 class="text- fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
            <hr>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button mat-flat-button color="primary" href="#" routerLink="/">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box">
        <mat-card class="mat-elevation-z6">
          <mat-card-content>
            <div class="col">
              <div class="" *ngIf="objetFRS">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="card mb-4 border-0">
                      <div class="card-body text-center">
                        <h4 class="my- fw-bold">{{ objetFRS.prenom }} {{ objetFRS.nom }}</h4>
                        <span class="fs-6 p-2">{{ objetFRS.pays }} / {{ objetFRS.ville }}</span> <br>
                        <span class="">{{ objetFRS.email }}</span> <br>
                        <span class="">{{ objetFRS.adresse }} / {{ objetFRS.telephone }}</span> <br>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <table class="table table-light">
                      <thead class="text-blue text-center">
                        <th>SOLDE GNF</th>
                        <th>SOLDE USD</th>
                        <th>STATUS</th>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td>0.0 GNF</td>
                          <td>0.0 USD</td>
                          <td>{{ FixingTypeUn }} / {{ FixingTypeAchatDirect }} / {{ FixingTypeParPoids }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="mb-4 mb-lg-0 shadow-lg mt-3">
                    <div class="">
                      <!-- SITUATION -->
                      <table class="table">
                        <thead class="text-dark">
                          <th>#</th>
                          <th>Date d'operation</th>
                          <th>Entrer</th>
                          <th>Sortie</th>
                          <th>Motif</th>
                          <th>Solde Ant</th>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
