<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="accent" routerLink="/operation/facture-fournisseur">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Liste achat</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="accent" routerLink="/operation/add-purchase">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Nouveau achat</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/add-purchase">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Export Datatable start -->
      <div class="card-box mb-30">
        <!-- <div>
          <button (click)="this.location.back()" mat-icon-button color="primary"><mat-icon
              class="mat-24">reply</mat-icon></button>
          <mat-divider></mat-divider>
        </div> -->
        <div class="pd-20">
          <h2 class="text-dark fw-bold text-uppercase text-center" style="font-family: Arial, Helvetica, sans-serif">Mise &#224; jour des
            donn&#233;es de l'achat</h2>
        </div>
        <div class="pb-20 p-2" id="filigrance">

          <!-- table LIST -->
          <div class="col">

            <!-- <div align="end"><button mat-raised-button color="warn" [disabled]="newRowsUpdate.length==0"
                (click)="updateRowsPurchase()">Mise à jour</button></div> -->
            <div class="table-responsive m-0">
              <table class="data-table table stripe hover nowrap">
                <thead class="text-blue fw-bold fs-">
                  <th>N<sup>o</sup></th>
                  <!-- <th>Date</th> -->
                  <th>Poids</th>
                  <th>Carrat</th>
                  <th>Manquant</th>
                  <!-- <th class="">Montant</th> -->
                </thead>
                <tbody>

                  <tr *ngFor="let row of rows.controls; let index=index">
                    <td>{{index+1}}</td>
                    <td>
                      <mat-form-field>
                        <input [formControl]='row.get("poids_achat")' (focus)="setOldValues(row)"
                          (blur)="updateDirectRow(row)" matInput>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input [formControl]='row.get("carrat_achat")' readonly matInput>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <input [formControl]='row.get("manquant")' (focus)="setOldValues(row)"
                          (blur)="updateDirectRow(row)" matInput>
                      </mat-form-field>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Export Datatable End -->
      </div>
    </div>
  </div>
