<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-6 col-sm-12">
            <div class="title">
              <h4 class="fs-4">{{title}} <i class="small text-secondary"><u>{{
                    infoClient.raison_sociale }}</u></i> <br> Representer par :
                <i class="text-primary small">{{ infoClient.responsable }}</i>
              </h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"
                  aria-current="page">{{'Accueil'}}</li>
              </ol>
              <ol class="pt-2">
                <!-- <li class="fs-4 ">SOLDE : {{ (SoldeFinal - MTotal) | number:
                  '2.2-2' }}</li> -->
                <li
                  [classList]="(SoldeUSD > 0)?'fs-4 text-success':'text-danger fw-bold'"><span
                    class="text-dark">SOLDE : </span>{{ (SoldeUSD) | number:
                  '2.2-2' }}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right">
            <button mat-raised-button color="primary"
              routerLink="/client/list-client" class="mx-2"><i
                class="dw dw-list text-light mx-2"></i> Liste client</button>
            <button mat-raised-button color="primary" (click)="openDialog()"
              class="mx-2"> <i
                class="dw dw-add text-light mx-2"></i> <span
                class="mtext">Nouvelle operation</span> </button>
            <button mat-raised-button color="warn" (click)="openDialogFix()"
              class="mx-2"> <i
                class="mdi mdi-cog-counterclockwise text-light mx-2"></i> <span
                class="mtext">Fixer un poids</span>
            </button>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box mb-30">
        <mat-card>
          <mat-card-content>
            <mat-tab-group>
              <!-- SITUATION -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <h3 class="fw-bold">SITUATION CLIENT</h3>
                </ng-template>
                <!-- History -->
                <div class="table-responsive bg-white">
                  <mat-card class="p-2 bg-white">

                    <mat-card-content>
                      <div class="d-flex">
                        <div class="col">
                          <mat-form-field class="w-100">
                            <input [formControl]="search"
                              placeholder="Rechercher une oper&#233;tion..."
                              matInput>
                            <mat-icon matSuffix>search</mat-icon>
                          </mat-form-field>
                        </div>
                        <div class="col">
                          <form action [formGroup]="rechercheIntervalleForm"
                            class="w-100">
                            <div class="col d-flex input-group m-0 p-0">
                              <input type="date" formControlName="dateStart"
                                class="form-control border-dark fw-bold">
                              <input type="date" formControlName="dateEnd"
                                class="mx-1 form-control border-dark fw-bold">
                              <button mat-flat-button color="primary"
                                class="border-dark" (click)="getCaisse()">
                                Afficher un rapport
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <table class="table table-responsive-md maTable"
                        id="divTable_">
                        <thead>
                          <th class="text-start">Date Operation</th>
                          <th>Op&#233;ration</th>
                          <th>Devise</th>
                          <th>Motif</th>
                          <th>Entrer</th>
                          <th>Sortie</th>
                          <th class="text-center">Utilisateur</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of historique; let i = index">
                            <td *ngIf="data.devise == 2" class="text-start">
                              Le : {{ data.created_at | date:
                              "dd/MM/YYYY 'à' HH:mm:ss" }}
                            </td>
                            <td *ngIf="data.devise == 2"
                              class="m-0 p-0 text-start">
                              <span class="text-primary"
                                *ngIf="data.operation == 5"><span
                                  class="dw dw-down-arrow2"></span>
                                Avance client</span>
                              <span class="text-danger"
                                *ngIf="data.operation == 6">Reglement client
                                <span
                                  class="dw dw-share-2"></span></span>
                            </td>
                            <td *ngIf="data.devise == 2"
                              class="text-secondary">USD</td>
                            <td *ngIf="data.devise == 2">{{ data.motif }}</td>
                            <td *ngIf="data.devise == 2">
                              <span
                                *ngIf="data.operation == 1 || data.operation == 3 || data.operation == 5">{{
                                data.montant | number }}</span>
                            </td>
                            <td *ngIf="data.devise == 2">
                              <span
                                *ngIf="data.operation == 2 || data.operation == 4 || data.operation == 6">{{
                                data.montant | number }}</span>
                            </td>
                            <td *ngIf="data.devise == 2"
                              class="text-secondary text-center">Admin</td>
                          </tr>
                        </tbody>
                      </table>
                    </mat-card-content>
                  </mat-card>
                </div>
              </mat-tab>
              <!-- EXPEDITION -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <h3 class="fw-bold">EXPEDITION</h3>
                </ng-template>
                <mat-card-content>
                  <div class="d-flex justify-content-between mt-2 flex-wrap">
                    <div class="col">
                      <mat-form-field class="w-100">
                        <input [formControl]="search"
                          placeholder="Rechercher un fixing ici...." matInput>
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col text-end">
                      <form action [formGroup]="validationFixing">
                        <mat-form-field class="mx-2">
                          <mat-label>Liste des fixings</mat-label>
                          <mat-select formControlName="idFixing">
                            <mat-option value>---- CHOISIR ----</mat-option>
                            <mat-option *ngFor="let data of ListFixing"
                              [value]="data.id">
                              {{ 'Le: '+(data.created_at | date: 'dd/MM/Y')
                              +' - FIX: $'+data.fixingBourse+' - poids: '+data.poidsFixer
                              }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <button mat-raised-button color="primary"
                          [disabled]="validationFixing.invalid"
                          (click)="logSelected(validationFixing.value.idFixing)">
                          <mat-icon>check</mat-icon> Valider</button>
                      </form>
                    </div>
                  </div>

                  <hr>
                  <h1 class="p-2 shadow">GESTION DES EXPEDITIONS</h1>
                  <table mat-table [dataSource]="dataSource"
                    class="table w-100 table-hover maTable" id="divTable_">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-start">DATE</th>
                      <td class="text-start {{element.textColor}}" mat-cell
                        *matCellDef="let element">{{ element.created_at | date:
                        'dd/MM/YYYY' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Client">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-start">CLIENT</th>
                      <td class="text-start px-2 {{element.textColor}}" mat-cell
                        *matCellDef="let element">{{ element.client }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Lot">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-start">LOT</th>
                      <td class="text-start px-2 text-uppercase text-secondary"
                        mat-cell *matCellDef="let element">{{ element.arrivage
                        }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Type">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-start">TYPE</th>
                      <td class="text-start px-2 {{element.textColor}}" mat-cell
                        *matCellDef="let element">{{ element.type }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Poids">
                      <th mat-header-cell *matHeaderCellDef>POIDS</th>
                      <td class="text-start px-2 {{element.textColor}}" mat-cell
                        *matCellDef="let element">{{ element.poids }} g</td>
                    </ng-container>
                    <ng-container matColumnDef="CarratMoyen" class="text-start">
                      <th mat-header-cell *matHeaderCellDef>CARRAT</th>
                      <td class="text-start px-2 {{element.textColor}}" mat-cell
                        *matCellDef="let element">{{ element.carrat }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displaysColums;"></tr>
                    <tr mat-row *matRowDef="let row; columns:displaysColums"
                      (click)="selection.toggle(row)">
                    </tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[100, 500]"
                    showFirstLastButtons></mat-paginator>
                </mat-card-content>
              </mat-tab>

              <!-- FIXING -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <h3 class="fw-bold">FIXING</h3>
                </ng-template>
                <table class="table table-secondary">
                  <thead>
                    <th>Date</th>
                    <th>Fixing</th>
                    <th>Discompte</th>
                    <th>P.Unit</th>
                    <th>Poids Fixer</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of ListFixing">
                      <td>{{ element.created_at | date:
                        'dd/MM/yyyy' }}</td>
                      <td>{{
                        element.fixingBourse | number }}</td>
                      <td>{{ element.discompte | number }}</td>
                      <td>{{
                        format2Chart((element.fixingBourse / 34) -
                        element.discompte) }}</td>
                      <td class="text-success">
                        <span *ngIf="element.statut_fixing_client == 1">{{
                          element.poidsFixer | number }}</span>
                        <span *ngIf="element.statut_fixing_client == 2">{{
                          element.poidsFixer | number }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </mat-tab>

              <!-- EXPEDITION VALIDER -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <h3 class="fw-bold">EXPEDITION FIXER ET VALIDER</h3>
                </ng-template>
                <mat-card-content>
                  <div class="d-flex justify-content-between mt-2 flex-wrap">
                    <div class="col">
                      <mat-form-field class="w-100">
                        <input [formControl]="search"
                          placeholder="Rechercher un fixing ici...." matInput>
                        <mat-icon matSuffix>search</mat-icon>
                      </mat-form-field>
                    </div>
                  </div>

                  <h1>EXPEDITION VALIDER : <br>
                    <strong class="text-dark">TOTAL : ${{ MTotal | number:
                      '2.2-2' }}</strong>
                  </h1>

                  <table mat-table [dataSource]="dataSource3"
                    class="table w-100 maTable" id="divTable_">
                    <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-start">Date</th>
                      <td class="text-start" mat-cell
                        *matCellDef="let element">{{ element.created_at | date:
                        'dd/MM/YYYY' }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Client">
                      <th mat-header-cell *matHeaderCellDef>Client</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.client }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Lot">
                      <th mat-header-cell *matHeaderCellDef
                        class="text-start">Arrivage</th>
                      <td class="text-start" mat-cell
                        *matCellDef="let element">{{ element.arrivage }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Poids">
                      <th mat-header-cell *matHeaderCellDef>Pds barre</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.poidsItem }} g</td>
                    </ng-container>
                    <ng-container matColumnDef="CarratMoyen">
                      <th mat-header-cell *matHeaderCellDef>Carrat</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.carratItem }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Fixing">
                      <th mat-header-cell *matHeaderCellDef>Fixing</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.fixingBourse }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Discompte">
                      <th mat-header-cell *matHeaderCellDef>Discompte</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.discompte }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Prix">
                      <th mat-header-cell *matHeaderCellDef>P.Unit</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.prix_unitaire }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Densite">
                      <th mat-header-cell *matHeaderCellDef>Densite</th>
                      <td class mat-cell *matCellDef="let element">{{ 22 }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Montant">
                      <th mat-header-cell *matHeaderCellDef>Montant</th>
                      <td class mat-cell *matCellDef="let element">{{
                        element.montant }}</td>
                    </ng-container>
                    <ng-container matColumnDef="Statut">
                      <th mat-header-cell *matHeaderCellDef>Statut</th>
                      <td class mat-cell *matCellDef="let element"
                        [classList]="(element.Etat=='Valider')?'text-success fw-bold':'text-danger fw-bold'">{{element.Etat}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displaysColums3;"></tr>
                    <tr mat-row *matRowDef="let row; columns:displaysColums3"
                      (click)="selection.toggle(row)">
                    </tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[100, 500]"
                    showFirstLastButtons></mat-paginator>
                </mat-card-content>
              </mat-tab>

              <!-- FACTURE VALIDER -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <h3 class="fw-bold">FACTURE</h3>
                </ng-template>
                <mat-card-content>
                  <mat-tab-group>
                    <mat-tab label="LISTE DES FIXINGS">
                      <div class="separator--2"></div>
                      <h2>TOUS LES FIXINGS DE {{ infoClient.responsable }}</h2>
                      <hr>

                      <div
                        class="d-flex justify-content-start flex-wrap align-items-center">
                        <div class="col-12 col-md-4 col-lg-3"
                          *ngFor="let data of dataFacture">
                          <div class="card p-0 shadow m-2">
                            <div class="card-head bg-secondary text-white fw-bold text-center p-2">DATE : {{
                              data.created_at | date: 'dd/m/YYYY' }}</div>
                            <div class="card-body">
                              <table class="table table-striped"
                                id="myDataTable">
                                <tr>
                                  <th>Fixing</th>
                                  <th>:</th>
                                  <td>{{ data.fixingBourse }}</td>
                                </tr>
                                <tr>
                                  <th>Discompte</th>
                                  <th>:</th>
                                  <td>{{ data.discompte }}</td>
                                </tr>
                                <tr>
                                  <th>Prix Unit</th>
                                  <th>:</th>
                                  <td>{{ data.prix_unitaire }}</td>
                                </tr>
                              </table>
                            </div>
                            <div class="card-footer d-flex">
                              <div class="text-end">
                                <button (click)="getOneFacture(data.idFixing)" class="btn btn-outline-danger w-100">Voir la facture</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </mat-tab>
                    <mat-tab label="FACTURE VUE">
                      <div class="d-flex justify-content-between">
                    <div class="col"></div>
                    <div class="col text-end">
                      <button class="mx-2 fw-bold" mat-flat-button color="warn"
                        (click)="imprimerDiv_()">
                        <span class="micon mdi mdi-printer"></span><span
                          class="mtext mx-2"> Imprimer...</span>
                      </button>
                    </div>
                  </div>
                      <!-- Facture entete -->
                      <div class="p-3" #divToPrint_>
                        <!-- table LIST -->
                        <div class="col">
                          <div class="entete">
                            <div
                              class="d-flex justify-content-between flex-wrap m-0 p-0 align-items-center">
                              <div class="col-2 text-start">
                                <!-- logo -->
                                <div class="img-responsive">
                                  <img
                                    src="https://static.vecteezy.com/system/resources/previews/019/766/315/non_2x/closeup-shiny-a-gold-bullion-bar-png.png"
                                    class="img-responsive w-100" alt>
                                </div>
                              </div>
                              <div class="col  text-center">
                                <h2 class="m-0 p-0">** LIMANAYA BUSINESS **</h2>
                                <span class="small">Acheteur et vendeur d'or en
                                  gros
                                  et
                                  details</span> <br>
                                <span class="small">sis &#224; Mafanco
                                  Carrefour,
                                  centre
                                  commercial Bayo et frères au 2e:ET</span>
                                <br>
                                <span class="fw-bold">Contact : </span>
                                <span class="text-secondary fw-bold"> <i
                                    class="small">628-978-467 / 624-044-759 /
                                    622-339-503</i> </span>
                              </div>
                              <div class="col-2 text-end">
                                <!-- logo -->
                                <div class="img-responsive">
                                  <img src="/assets/logo/logo.png"
                                    class="img-responsive w-100" alt>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between flex-wrap">
                            <div class="col-6">
                              <div class>
                                <!--
                              <table class="table" *ngIf="InfoAchat">
                              <tr>
                                <th>Fournisseur</th>
                                <th>:</th>
                                <th class><i>{{ InfoAchat.fournisseur }}</i></th>
                              </tr>
                              <tr>
                                <th>Adresse</th>
                                <th>:</th>
                                <th class><i>{{ InfoAchat.adresse }}</i></th>
                              </tr>
                            </table> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive m-0" id="bgTable">
                          <div class="overlay">
                            <h2
                              class="text-dark text-center fw-bold display-3">Facture
                              N<sup>o</sup>
                              : {{ '00'+1 }}</h2>
                            <h2 class="text-dark text-end">Date : <i>{{ '-' }}</i> </h2>
                            <table class="table table-bordered"
                              id="myDataTable">
                              <thead
                                class="text-end bg-primary text-light fw-bold"
                                id="enteteFacture">
                                <th>N<sup>o Barres</sup></th>
                                <th>Poids</th>
                                <th>Carrat</th>
                                <th>Etat</th>
                                <th>Montant</th>
                              </thead>
                              <tbody class="text-end">
                                <tr
                                  *ngFor="let data of factureHistorique; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ data.poidsItem }}</td>
                                  <td>{{ data.carratItem }} </td>
                                  <td
                                    [classList]="(data.Etat=='Valider')?'text-success fw-bold':'text-danger fw-bold'">{{
                                    data.Etat }} </td>
                                  <td class="text-dark fw-bold">$ {{
                                    (data.montant) | number: '2.2-2' }}</td>
                                </tr>
                              </tbody>
                            </table>
                            <table class="table text-center" id="myDataTable">
                              <thead>
                                  <th>Total</th>
                                  <th>{{ PTotal| number: '2.2-2' }} g</th>
                                  <th>{{ CMoyen | number: '2.2-2'}}</th>
                                  <th>{{ '* STATE * '}}</th>
                                  <th>{{ MTotal | number: '2.2-2' }}</th>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </mat-card-content>
              </mat-tab>

              <!-- FACTURE VALIDER -->
              <mat-tab>
                <ng-template mat-tab-label>
                  <h3 class="fw-bold">RAPPORT</h3>
                </ng-template>
                <mat-card-content>
                  <div class="d-flex justify-content-between">
                    <div class="col text-end m-2">
                      <button class="mx-2 fw-bold" mat-flat-button color="warn"
                        (click)="imprimerDiv()">
                        <span class="micon mdi mdi-printer"></span><span
                          class="mtext mx-2"> Imprimer...</span>
                      </button>
                    </div>
                  </div>
                  <div class id="facture" #divToPrint>
                    <div class="entete">
                      <div
                        class="d-flex justify-content-between flex-wrap m-0 p-0 align-items-center">
                        <div class="col-2 text-start">
                          <!-- logo -->
                          <div class="img-responsive">
                            <img src="/assets/logo/coins.png"
                              class="img-responsive w-100" alt>
                          </div>
                        </div>
                        <div class="col offset-1  text-center">
                          <h2 class="m-0 p-0">LIMANAYA BUSINESS</h2>
                          <span class="small">Acheteur et vendeur d'or en gros
                            et
                            details</span> <br>
                          <span class="small">sis &#224; Mafanco Carrefour,
                            centre
                            commercial Bayo et frères au 2e
                            étage</span>
                          <br>
                          <span class="fw-bold">Adresse : </span>
                          <span class="text-primary"> 628-978-467 / 624-044-759
                          </span>
                        </div>
                        <div class="col-2 offset-1 text-end">
                          <!-- logo -->
                          <div class="img-responsive">
                            <img src="/assets/logo/logo.png"
                              class="img-responsive w-100" alt>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="text-center text-dark p-2">
                      <h2 class="fs-3 fw-bold"> CLIENT : <u
                          class="text-secondary small">{{ infoClient.responsable
                          }}</u></h2>
                      <h3 class="fw-bold text-dark">SOLDE : $ {{SoldeUSD |
                        number: '2.2-2' }}g </h3>
                    </div>
                    <table class="table table-striped d-none">
                      <thead>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Poids</th>
                        <th>Carrat</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of datatable">
                          <td>{{ data.created_at }}</td>
                          <td>{{ data.client }}</td>
                          <td>{{ data.poids }}</td>
                          <td>{{ data.carrat }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- SOLDE RAPPORT FOURNISSEUR -->
                    <table class="table table-striped table-bordered">
                      <thead class="text-dark">
                        <th>Date d'operation</th>
                        <th>Mouvement</th>
                        <th>Credit</th>
                        <th>Debit</th>
                        <th>Solde A</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of fusionTab">
                          <td
                            [classList]="(data.poidsTotal > 18170) ? 'text-danger' : 'text-dark'">{{
                            data.dateOperation | date:
                            "dd/MM/YYYY 'a' HH:mm:ss" }}</td>
                          <td
                            [classList]="(data.poidsTotal > 18170) ? 'text-danger' : 'text-dark' ">
                            <span class="text-"
                              *ngIf="data.type_operation == 'debit' ">Facturation
                              - Poids {{
                              data.poidsTotal | number: '2.2-2' }} g</span>
                            <span class="text-"
                              *ngIf="data.type_operation == 'credit' ">Paiement
                              - <i
                                *ngIf="data.responsable != null"
                                class="text-uppercase fw-bold">{{
                                data.responsable
                                }}</i> <i *ngIf="data.raison_sociale != null">{{
                                data.raison_sociale }}</i> </span>
                          </td>
                          <td
                            [classList]="(data.poidsTotal > 18170) ? 'text-danger' : 'text-dark'">
                            <span *ngIf="data.type_operation == 'credit' ">{{
                              (data.montant) | number: '2.2-2' }}</span>
                            <span
                              *ngIf="data.type_operation == 'debit' ">---</span>
                          </td>
                          <td
                            [classList]="(data.poidsTotal > 18170) ? 'text-danger' : 'text-dark'">
                            <span *ngIf="data.type_operation == 'debit'">{{
                              (data.montant) | number: '2.2-2' }}</span>
                            <span
                              *ngIf="data.type_operation == 'credit'">---</span>
                          </td>
                          <td>
                            <span
                              [class]="'fw-bold text-' +(data.solde>0?'success':'danger')">$
                              {{ (data.solde) |
                              number: '2.2-2' }}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <hr>

                </mat-card-content>
              </mat-tab>

            </mat-tab-group>
          </mat-card-content>
          <mat-card-footer>
            <table class="table fw-bold d-none">
              <tr>
                <th class="fs-5 text-center">SOLDE REEL</th>
                <th>:</th>
                <td class="fs-5 text-center"
                  [class]="(SoldeFinal)>=0?'text-success':'text-danger'">
                  $ {{ SoldeFinal | number: '2.2-2'}}
                </td>
              </tr>
              <tr>
                <th class="fs-5 text-center">VENTE</th>
                <th>:</th>
                <td class="fs-5 text-center"
                  [class]="(MTotal)>=0?'text-success':'text-danger'">
                  $ {{ MTotal | number: '2.2-2'}}
                </td>
              </tr>
              <tr>
                <th class="fs-5 text-center text-primary">SOLDE FINAL</th>
                <th>:</th>
                <td class="fs-5 text-center"
                  [class]="(SoldeFinal - MTotal)>=0?'text-success':'text-danger'">
                  $ {{ SoldeFinal - MTotal | number: '2.2-2'}}
                </td>
              </tr>
            </table>
          </mat-card-footer>
        </mat-card>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
