
<div class="midde_cont">
   <div class="container-fluid">
      <!-- row -->
      <div class="row column1">
         <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
               <div class="full graph_head">
                  <div class="heading d-flex justify-content-between align-items-center">
                     <div class="col"><h2>Liste des <small>( {{title}})</small></h2></div>
                     <div class="col d-flex justify-content-end">
                       <section>
                             <button mat-raised-button class="mx-2">Ajouter <span class="fa fa-plus text-primary"></span></button>
                             <button mat-raised-button class="mx-2">Listes <span class="fa fa-list text-primary"></span></button>
                             <button mat-raised-button class="mx-2">Ajouter <span class="fa fa-plus text-primary"></span></button>
                             <button mat-raised-button class="mx-2">Ajouter <span class="fa fa-plus text-primary"></span></button>
                             <button mat-raised-button class="mx-2">Ajouter <span class="fa fa-plus text-primary"></span></button>
                             <button mat-raised-button class="mx-2">Ajouter <span class="fa fa-plus text-primary"></span></button>
                         </section>
                   </div>
                  </div>
               </div>
               <div class="full pt-2">
                  <!-- contenu -->
                  <h1>Bonjour</h1>
               </div>
            </div>
         </div>
         <!-- end row -->
      </div>
   </div>
   <!-- end dashboard inner -->
</div>