/* Conteneur de la facture */
.facture-container {
  width: 100%;
  max-width: 250mm; /* Taille A4 */
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border: 1px solid midnightblue;
}

/* Appliquer l'image de fond sur la facture */
.facture-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url("https://www.francetransactions.com/IMG/arton100591.jpg"); */
  background: url("https://png.pngtree.com/png-clipart/20210613/original/pngtree-gold-block-metal-bank-value-png-image_6403702.jpg");
  background-repeat: no-repeat;
  background-size: contain; /* Change le fond pour couvrir toute la zone */
  background-position: center;
  opacity: 0.2; /* Ajuster l'opacité ici */
  z-index: -1; /* S'assurer que l'image est derrière le contenu */
}

/* En-tête de la facture */
.facture-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.facture-header .logo img {
  width: 100px;
  height: auto;
}

.facture-header h1 {
  text-align: center;
  font-weight: bold;
  color: #003366;
  margin: 0;
}
.facture-header span {
  text-align: center;
  font-weight: bold;
  color: #474a4c;
}

.facture-header .numero {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  color: #003366;
}

/* Informations client et entreprise */
.facture-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.facture-info h3 {
  color: #003366;
}

.facture-info .client {
  width: 45%;
  padding: 10px;
  border-left: 1px outset #003366;
}

.facture-info .entreprise {
  width: 45%;
  padding: 10px;
  border-right: 1px outset #003366;
  text-align: right;
}

.facture-info p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Tableau de la facture */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 2px solid #250886;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 7px;
  /* text-align: center; */
}

tfoot {
  color: rgb(188, 3, 3);
  font-weight: bold;
  font-size: 1.1em;
}

/* Section de paiement et totaux */
.payment-info {
  margin-top: 10px;
  padding: 10px;
  border-top: 2px solid #003366;
  text-align: left;
  background-color: #f9f9f9;
}

.payment-info .totals {
  display: flex;
  justify-content: space-between;
  font-size: 1.6em;
}

.payment-info h4 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}
.payment-info p {
  margin: 0;
  font-size: 0.7em;
  text-align: justify;
}

.payment-info .totals div {
  padding: 5px 0;
}

/* Styles pour l'impression */
@media print {
  .facture-container {
    max-width: 100%; /* S'assurer que la facture s'adapte à la page */
  }

  /* Appliquer l'image de fond lors de l'impression */
  .facture-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://png.pngtree.com/png-clipart/20210613/original/pngtree-gold-block-metal-bank-value-png-image_6403702.jpg");
    background-repeat: no-repeat;
    background-size: conta; /* Change le fond pour couvrir toute la zone */
    background-position: center;
    opacity: 0.2; /* Ajuster l'opacité ici */
    z-index: -1; /* S'assurer que l'image est derrière le contenu */
  }

  table {
    page-break-inside: auto; /* Permet à la table de se découper sur plusieurs pages si nécessaire */
    border: 1px solid #000000;
  }

  table th,
  table td {
    border: 1px solid #000000;
    font-size: 16px;
  }

  tfoot {
    color: rgb(188, 3, 3);
    font-weight: bold;
    font-size: 1.1em;
  }

  /* S'assurer que les éléments sont bien séparés lors de l'impression */
  .facture-header,
  .facture-info,
  .payment-info {
    box-shadow: none; /* Retirer l'ombre lors de l'impression */
    border: none; /* Retirer les bordures de section pour l'impression */
  }

  .payment-info {
    padding: 10px; /* Réduire un peu les marges pour l'impression */
  }
}
