<div class="main-container">
  <div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-0">
      <div class="align-items-center text-center">
        <div class="col">
          <img src="../../../assets/vendors/images/banner-img.png" alt="" class="w-">
        </div>
        <div class="col text-center pt-3">
          <div class="weight-600 text-danger display-5">
            <span>Error 404</span>
          </div>
          <h1 class="font-20 weight-500 mb-10">
            La page demande n'existe pas ?
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
