<div class="main-container">
  <div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-0">
      <div class="align-items-center text-center">
        <div class="col">
          <img src="../../../assets/image/404.webp" alt="" class="w-50">
        </div>
        <div class="col text-center pt-3">
          <div class="weight-600 text-dark display-5">
            <span>404 !</span>
          </div>
          <h1 class="font-20 weight-500 mb-10">
            cette page est en cours de d&#233;v&#233;loppement...
          </h1>
          <a href="#" routerLink="/home" mat-raised-button color="primary"> <mat-icon>reply</mat-icon> Tableau de bord</a>
        </div>
      </div>
    </div>
  </div>
</div>
