<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/add-purchase">
                <span class="micon dw dw-add"></span><span class="mtext mx-2"> commencer un achat </span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="accent" routerLink="/operation/purchase">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Liste achat</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/add-purchase">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="main-box mb-0">

        <div class="col mt-0">
          <mat-card class="mat-elevation-z8">

            <mat-card-title>
              <h3 class="text-dark">Liste g&#233;n&#233;rale des achats</h3>
            </mat-card-title>

            <div class="pd-10">
              <div class="d-flex justify-content-between">
                <div class="col">
                  <mat-form-field class="w-100">
                    <input [formControl]="search" placeholder="Rechercher ..." matInput>
                    <mat-icon matSuffix>search</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col">
                  <div fxFlex.gt-md="38" class="" fxFlex.gt-lg="40" fxFlex="100">
                    <form [formGroup]="rangeFormGroup">
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Filtrer par dates</mat-label>
                        <mat-date-range-input>
                          <input matStartDate placeholder="Start date" formControlName="start">
                          <input matEndDate placeholder="End date" formControlName="end">
                        </mat-date-range-input>
                        <mat-datepicker-toggle [matMenuTriggerFor]="menu" matSuffix></mat-datepicker-toggle>
                      </mat-form-field>
                    </form>
                  </div>
                  <mat-menu #menu="matMenu" fxLayout="row wrap" yPosition="above" class="p-t-0">
                    <div class="m-r-3 text-left p-t-0" style="width: max-content;height: max-content;" fxFlex.md="100"
                      fxFlex.sm="100" fxFlex="100">
                      <div fxLayout="row no-wrap" (click)="$event.stopPropagation();" class="p-t-0 ">
                        <mat-button-toggle-group [(ngModel)]="this.matButtonControle" [appearance]="'standard'"
                          (change)="matGroupButtonChange($event.value)" [cdkAriaLive]="'polite'" aria-label="Font Style"
                          class="text-primary border border-0 d-flex flex-wrap" fxLayout="row wrap">
                          <!-- <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="0">
                            <small class="text-primary">Aujourd'hui</small>
                          </mat-button-toggle>
                          <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="1"> <small
                              class="text-primary">Hier
                            </small></mat-button-toggle> -->
                          <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="7"><small
                              class="text-primary">
                              7 deriers
                              jours </small></mat-button-toggle>
                          <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" class="p-0 m-0" value="30"><small
                              class="text-primary">
                              <small>30 derniers
                                jours</small></small>
                          </mat-button-toggle>
                          <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="currentMonth"><small
                              class="text-primary">Ce
                              mois-ci</small>
                          </mat-button-toggle>
                          <!-- <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="lastMonth"> <small
                              class="text-primary">Le mois
                              dernier</small>
                          </mat-button-toggle> -->
                        </mat-button-toggle-group>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div mat-menu-item style="height: max-content;width:700px;" (click)="$event.stopPropagation();"
                      fxFlex.md="100" fxFlex.sm="100" fxFlex="100">
                      <mat-calendar style="height: max-content;width: 100%;" (click)="$event.stopPropagation();" #picker
                        (selectedChange)="_onSelectedChange($event)" [selected]="selectedDateRange">
                      </mat-calendar>
                    </div>
                    <mat-divider></mat-divider>
                    <div fxLayout="row no-wrap" class="p-1" fxFlex.md="100" fxFlex.sm="100" fxFlex="100">
                      <button fxFlex.md="45" class="m-1 p-1 w-100" fxFlex.sm="45" fxFlex="48" mat-raised-button
                        color="primary" (click)="this.appliqueRange()"> Appliquer </button>
                      <button fxFlex.md="45" class="m-1 p-1 w-100" (click)="this.reset()" fxFlex.sm="45" fxFlex="45"
                        mat-raised-button color="warn">
                        <span class=""> Afficher Tous les achat</span>
                      </button>
                    </div>
                  </mat-menu>
                </div>
                <!-- Fin calendrier -->
                <div class="col">
                  <mat-select *ngIf="this.rangeFormGroup?.value?.start"
                    (selectionChange)="this.filterVendor($event.value)" placeholder="Sélectionner un fournisseur"
                    appearance="outline" class="p-3 form-control">
                    <mat-option>
                      <ngx-mat-select-search [formControl]="searchFilterVendorCtrl">
                      </ngx-mat-select-search>
                    </mat-option>
                    <mat-option [value]="-1">-- Aucune selection --</mat-option>
                    <mat-option *ngFor="let vendor of FilterVendor | async " [value]="vendor.id">
                      {{vendor.nom}} {{vendor.prenom}} {{vendor.telephone}}
                    </mat-option>
                  </mat-select>
                </div>
                <!-- Fin select fournisseur -->
              </div>
            </div>
            <!-- END FILTER -->
            <mat-card-content id="table_shadow">
              <table mat-table [dataSource]="dataSource" class="" class="w-100">
                <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef>Achat du : </th>
                  <td mat-cell *matCellDef="let element">Le : {{element.date_achat | date: 'dd/MM/yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="slug">
                  <th mat-header-cell *matHeaderCellDef>N<sup>o</sup> - Achat</th>
                  <td mat-cell *matCellDef="let element">#00{{element.id}}</td>
                </ng-container>
                <ng-container matColumnDef="fournisseur">
                  <th mat-header-cell *matHeaderCellDef>Fournisseur</th>
                  <td mat-cell *matCellDef="let element">{{element.fournisseur.prenom + " " + element.fournisseur.nom}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                  <th mat-header-cell *matHeaderCellDef>Telephone</th>
                  <td mat-cell *matCellDef="let element">{{element.fournisseur.telephone}}</td>
                </ng-container>

                <ng-container matColumnDef="poids_total">
                  <th mat-header-cell *matHeaderCellDef>Poids Total</th>
                  <td mat-cell *matCellDef="let element">{{element.poids_total}}</td>
                </ng-container>

                <ng-container matColumnDef="carrat_achat">
                  <th mat-header-cell *matHeaderCellDef>Carrat Moyen</th>
                  <td mat-cell *matCellDef="let element">{{ element.carrat_moyen }}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <!-- <a routerLink="/operation/add-purchase/{{element.id}}" class="mx-2" mat-flat-button color="accent">
                      Achat
                      <span class="micon dw dw-eye"></span></a> -->

                    <a routerLink="/operation/detail-purchase/{{element.id}}" class="mx-2" mat-flat-button
                      color="primary"> Edit
                      <span class="micon dw dw-edit2"></span></a>

                    <a routerLink="/operation/facturepurchase/{{element.id}}" mat-flat-button color="warn"
                      class="mx-2"><strong> Print</strong>
                      <span class="micon dw dw-print"></span></a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displaysColums;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns:displaysColums"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 15, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>



        <!-- Export Datatable End -->
      </div>
    </div>
  </div>
