<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-5 col-sm-12">
            <div class="title">
              <h4 class="text fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"
                  aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div
            class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button
                color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="accent"
                routerLink="/operation/add-sales">
                <span class="micon dw dw-add"></span><span class="mtext mx-2">
                  Ajouter</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary"
                routerLink="/operation/sales">
                <span class="micon dw dw-list"></span><span class="mtext mx-2">
                  Liste vente</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <mat-card class="mat-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Remplissez ces informations pour
            commencer</mat-card-subtitle> -->
          <mat-card-title>Initialiser une expedition</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <!-- Contenu  -->
          <mat-tab-group>
            <!-- AJOUT TABS -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="text-primary">add </mat-icon>
                NOUVELLE EXPEDITION
              </ng-template>
              <div
                class="d-flex justify-content-between align-items-end w-100">
                <div class="col">
                  <!-- CARTE CLIENT -->
                  <div class="col" *ngIf="statExpedition == true">
                    <div class="card m-2">
                      <div
                        class="card-head bg-dark fw-bold fs-4 text-light p-2">
                        <span>Expedition en cours pour ?</span>
                      </div>
                      <div class="card-body">
                        <table class="table table-striped">
                          <tr>
                            <th>Societe</th>
                            <th>:</th>
                            <td>{{ infoCL.raison_sociale }}</td>
                          </tr>
                          <tr>
                            <th>Responsable</th>
                            <th>:</th>
                            <td>{{ infoCL.responsable }}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col" *ngIf="statExpedition == true">
                    <div class="m-2">
                      <div class="card p-2">
                        <div
                          class="d-flex align-items-center justify-content-start flex-wrap">
                          <div class="col">
                            <button class="mr-2 btn btn-danger border-danger"
                              (click)="deleteExpedtion()">SUPPRIMER
                              L'expedition
                            </button>
                          </div>
                          <div class="col">
                            <button class="mx-2 btn btn-success border-success"
                              (click)="endExpedtion()">TERMINER
                              L'expedition
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- FORMULAIRE INIT -->
                  <div class="col" [formGroup]="formInit"
                    *ngIf="statExpedition == false">
                    <h2 class="text-dark mx-0 m-3">D&#233;buter le
                      proc&#233;ssus avec ?</h2>
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>--- CLIENT ---</mat-label>
                      <mat-select formControlName="idClient">
                        <mat-option *ngFor="let data of TabClient"
                          value="{{ data.id }}"><i class="text-primary">Societe:
                          </i> {{ data.raison_sociale }} | <i
                            class="text-danger">Representant: </i> {{
                          data.responsable
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="w-100"
                      [disabled]="formInit.invalid"
                      (click)="initExpedition(formInit)">Placer au marcher
                    </button>
                  </div>
                </div>
                <div class="col text-end">
                  <button mat-raised-button color="warn" class="mx-2"
                    [hidden]="!btnSend"
                    (click)="viewListLot()">RETOUR LISTE LOT
                    <mat-icon>reply</mat-icon></button>
                </div>
              </div>
              <hr>

              <!-- CONFIG -->
              <div class="d-flex justify-content-center flex-wrap"
                *ngIf="cacherListLot == false && statExpedition == true">

                <div class="col-12 col-md-4 col-lg-3"
                  *ngFor="let data of TabLot">
                  <div class="m-1">
                    <mat-card class="border border-secondary">
                      <mat-card-header>
                        <mat-card-title class="small text-uppercase">{{data.designation}}</mat-card-title>
                        <mat-card-subtitle>Creer le {{ data.created_at | date:
                          'dd/M/Y'}}</mat-card-subtitle>
                      </mat-card-header>
                      <img matCardImage src="/assets/image/package.jpeg">
                      <mat-card-content>
                        {{'POIDS TOTAL : ' + (data.poids_total | number:
                        '1.2-2')}} g <br>
                        <!-- <button mat-stroked-button color="primary" (click)="eventLot(data.idLot)">Choisir</button> -->
                      </mat-card-content>
                      <mat-card-actions align="start" class="d-flex">
                        <button mat-flat-button color="accent"
                          (click)="parItems(data.idLot);" class="mx-2">Par
                          Barres</button>
                        <button mat-flat-button color="warn"
                          (click)="parAchat(data.idLot)" class="mx-2">Par
                          Achat</button>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>

                <!-- List Lot -->
                <!-- <div class="col-12 col-lg-4">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>--- LIST LOT ---</mat-label>
                    <mat-select (valueChange)="eventLot($event)">
                      <mat-option *ngFor="let data of TabLot"
                        value="{{ data.id }}">
                        <i class="text-danger">Ref :</i> {{ data.designation }}
                        <i class="text-danger"> // Du : </i> {{ data.created_at
                        | date: 'dd/MM/YYY' }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <!-- DETAILS DE SELECTION -->
                <!-- <div class="col-12 col-lg-5">
                  <mat-card class="mat-elevation-z5 p-3" *ngIf="selectLot">
                    <h5 class="text-primary fw-bold">Envoie par ?</h5>
                    <section class="example-section">
                        <mat-radio-button (click)="parAchat()"
                          class="example-margin w-50" value="1">Par
                          Achat</mat-radio-button>
                        <mat-radio-button (click)="parItems()"
                          class="example-margin w-50" value="2">Par
                          Barres</mat-radio-button>
                    </section>
                  </mat-card>
                </div> -->
              </div>

              <hr>
              <h2 class="text-center text-danger"
                *ngIf="dataSource2.data.length < 1">{{ message }}</h2>

              <div class="p-2" *ngIf="dataSource2.data.length > 0">
                <h2 class="text-start fw-bold text-uppercase mb-2">{{
                  title_message }}</h2>
                <button mat-raised-button color="primary"
                  *ngIf="statExpedition == true" [disabled]="!btnSend"
                  (click)="sendExpedition()">VALIDER </button>
                <!-- Tableau Tous les items du lot en details -->
                <mat-form-field class="w-100">
                  <mat-label>Rechercher</mat-label>
                  <input matInput (keyup)="applyFilter($event)" class="w-100"
                    placeholder="Rechercher dans le tableau ici..." #input>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource2"
                  class="mat-elevation-z8 w-100" id="table_shadow">
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="Select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Date">
                    <th class mat-header-cell *matHeaderCellDef>Date</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.created_at | date: 'dd/MM/YYYY' }}</td>
                  </ng-container>

                  <ng-container matColumnDef="Achat">
                    <th class mat-header-cell *matHeaderCellDef>Achat infos</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.achat }}</td>
                  </ng-container>

                  <ng-container matColumnDef="Fournisseur">
                    <th class mat-header-cell *matHeaderCellDef>Fournisseur</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.fournisseur }}</td>
                  </ng-container>

                  <ng-container matColumnDef="Poids">
                    <th class mat-header-cell *matHeaderCellDef>Poids</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.poids }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Carrat">
                    <th class mat-header-cell *matHeaderCellDef>Carrat</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.carrat }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Manquant">
                    <th class mat-header-cell *matHeaderCellDef>Manquant</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.manquant }}</td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displaysColums2;"></tr>
                  <tr mat-row *matRowDef="let row; columns:displaysColums2"
                    (click)="selection.toggle(row)">
                  </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 50, 100, 500]"
                  showFirstLastButtons></mat-paginator>
              </div>
            </mat-tab>

            <!-- LIST TABS -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="text-primary"> list </mat-icon>
                LISTE EXPEDITION
              </ng-template>
              <mat-card-title>
                <h2 class="text-blue mt-2">Toutes les expeditions...</h2>
              </mat-card-title>
              <mat-card-content>
                <mat-form-field class="w-100">
                  <input [formControl]="search" placeholder="Rechercher"
                    matInput>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" class="w-100">
                  <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.created_at | date: 'dd/MM/YYYY' }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Client">
                    <th mat-header-cell *matHeaderCellDef>Expedier au
                      Client</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.Client }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Poids">
                    <th mat-header-cell *matHeaderCellDef>Pds Total</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.Poids | number: '2.2-2' }} g</td>
                  </ng-container>
                  <ng-container matColumnDef="CarratMoyen">
                    <th mat-header-cell *matHeaderCellDef>Carrat</th>
                    <td class mat-cell *matCellDef="let element">{{
                      element.Carrat }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td class mat-cell *matCellDef="let element">
                      <span *ngIf="element.Statut == 1" class="text-warning">En
                        cours</span>
                      <span *ngIf="element.Statut == 2"
                        class="text-success">Expédier</span>
                      <span *ngIf="element.Statut == 3"
                        class="text-danger">Annuler</span>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef
                      class="text-center">Action</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <button mat-button color="warn"
                        [matMenuTriggerFor]="menu">
                        Voir + <span class="dw dw-down-chevron"></span></button>
                      <mat-menu #menu="matMenu">
                        <a mat-menu-item
                          routerLink="/client/detail-client/{{element.idClient}}"
                          class="text-start">
                          <strong>
                            <span class="dw dw-user-1 mx-3"></span>
                            <span>Afficher</span>
                          </strong>
                        </a>
                      </mat-menu>
                    </td>
                  </ng-container>

                  <tr mat-header-row
                    *matHeaderRowDef="displaysColums;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns:displaysColums"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10,15,100]"
                  showFirstLastButtons></mat-paginator>
              </mat-card-content>
            </mat-tab>
          </mat-tab-group>
          <!-- FIN - Contenu  -->
        </mat-card-content>
        <!-- <mat-card-footer>
          <div class="text-center p-3 fs-6">
            <marquee behavior="" direction="">
              Commencer par param&#233;trer une vente pour voir le formulaire d'ajout
              des achats...
            </marquee>
          </div>
        </mat-card-footer> -->
      </mat-card>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
