<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/fixing/add-fixing">
                <span class="micon dw dw-add"></span><span class="mtext mx-2"> Fix&#233; un poids </span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/fixing/list-fixing">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Liste fixing</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="warn" routerLink="/">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box mb-30">
        <div class="pb-10 p-2">
          <mat-card class="mat-elevation-z8 bg-transparent" id="matTable">
            <mat-card-title>
              <h2 class="text-blue">Cours de l'or du jour</h2>
            </mat-card-title>
            <mat-card-content>
              <!-- <p>Le cours de l'or est de {{ goldPrice }} USD/oz</p> -->
              <!-- <hr> -->
              <iframe src="https://goldbroker.com/widget/live/XAU?currency=EUR&height=320" scrolling="no"
                frameborder="0" width="100%" height="320" style="border: 0; overflow: hidden;"></iframe><br>La bourse en
              : <a href="https://goldbroker.com/" style="text-transform: uppercase">TEMPS REEL</a>
              <!-- <iframe src="https://goldbroker.com/widget/live-price/XAU?currency=EUR" width="100%" height="30"
                style="border: 0; overflow: hidden;"></iframe> -->
            </mat-card-content>
          </mat-card>
        </div>


      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
