<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h4 class="text fs-4">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/fournisseur/list-fournisseur">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Liste fournisseur</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/fournisseur/add-fournisseur">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Ajouter nouveau</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/add-purchase">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="warn" (click)="openDialog()">
                <span class="micon dw dw-refresh1"></span><span class="mtext mx-2"> Convertir</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="...-box">
        <mat-card class="mat-elevation-z8">
          <section>
            <div class="container-fluid" *ngFor="let f of FournisseurGet;">
              <div class="row" *ngIf="f.id == ID_F">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-header text-center">
                      <h1 class="my-3 fw-bold text-uppercase">{{ f.prenom }} {{ f.nom }}</h1>
                    </div>
                    <div class="card-body text-center">
                      <table class="table">
                        <tr>
                          <th>Adresse</th>
                          <th>:</th>
                          <td>{{ f.pays }} - {{ f.ville }}</td>
                        </tr>
                        <tr>
                          <th>E-mail</th>
                          <th>:</th>
                          <td>{{ f.email }}</td>
                        </tr>
                      </table>
                      <div class="mb-2">
                        <h2 style="font-family: 'cursive' " class="p-0 m-0 text-danger">Stock Actuelle</h2>
                        <table class="table text-center border-light">
                          <tbody>
                            <tr>
                              <th class="fw-bold fs-5"> Disponible </th>
                              <td class="fw-bold fs-5">
                                {{ Poids_total_compte_fournisseur | number:'1.2-2'}} g
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <table class="table" id="table_shadow">
                    <thead>
                      <th>#</th>
                      <th>Compte</th>
                      <th>Numero</th>
                      <th>Solde</th>
                      <th class="text-center">Action</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>GNF</td>
                        <td>{{ NumberGNF }}</td>
                        <td>0</td>
                        <td class="text-center">
                          <form class="mx-1 mx-md-4 mt-0" [formGroup]="accountFournisseurGNF"
                            (ngSubmit)="accountFournisseurFormUSD(accountFournisseurGNF, 1)">
                            <button class="border-0" type="submit" mat-raised-button color="primary"
                              [hidden]="cGNF"><span>Cr&#233;er le
                                compte</span>
                            </button>
                            <a routerLink="/" class="border-0" mat-raised-button [hidden]="!cGNF">
                              Voir les details</a>
                          </form>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>USD</td>
                        <td>{{ NumberUSD }}</td>
                        <td>0.00</td>
                        <td class="text-center">
                          <form class="mx-1 mx-md-4" [formGroup]="accountFournisseurUSD"
                            (ngSubmit)="accountFournisseurFormUSD(accountFournisseurUSD,2)">

                            <button class="border-0" type="submit" mat-raised-button color="primary"
                              [hidden]="cUSD"><span>Cr&#233;er le
                                compte</span>
                            </button>
                            <a routerLink="/" class="border-0" mat-raised-button [hidden]="!cUSD">
                              Voir les details
                            </a>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
        </mat-card>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
