<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/add-purchase">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="card-box mb-30">
        <!-- END SERVICE FILTER -->
        <div class="col mt-0">
          <mat-card class="mat-elevation-z0 mb-5">
            <mat-card-content>
              <table mat-table [dataSource]="dataSource" class="" class="w-100">
                <ng-container matColumnDef="created_at">
                  <th mat-header-cell *matHeaderCellDef class="text-dark fw-bold">Achat du : </th>
                  <td mat-cell *matCellDef="let element">{{element.created_at | date: 'dd/MM/yyyy' }}</td>
                </ng-container>
                <ng-container matColumnDef="fournisseur">
                  <th mat-header-cell *matHeaderCellDef class="text-dark fw-bold">Fournisseur</th>
                  <td mat-cell *matCellDef="let element">{{element.fournisseur }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Arrivage">
                  <th mat-header-cell *matHeaderCellDef class="text-dark fw-bold">Contenu dans?</th>
                  <td mat-cell *matCellDef="let element">{{element.Arrivage }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Poids">
                  <th mat-header-cell *matHeaderCellDef class="text-dark fw-bold">Poids Total</th>
                  <td mat-cell *matCellDef="let element">{{element.PoidsTotal}}</td>
                </ng-container>

                <ng-container matColumnDef="Carrat">
                  <th mat-header-cell *matHeaderCellDef class="text-dark fw-bold">Carrat Moyen</th>
                  <td mat-cell *matCellDef="let element">{{element.CarratMoyen}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center fw-bold">Action</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <a routerLink="/operation/facturepurchase/{{element.id_achat}}" mat-raised-button color=""
                      class="mx-2 text-primary"><strong> Facture </strong>
                      <span class="micon dw dw-print"></span></a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displaysColums;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns:displaysColums"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 15, 50, 100]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Export Datatable End -->
      </div>
    </div>
  </div>
</div>
