<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/purchase">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Liste achat</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/operation/add-purchase">
                <span class="micon dw dw-up-arrow"></span><span class="mtext mx-2"> Autres</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable start  mat-elevation-z2-->
      <div class="...-box">
        <!-- Init -->
        <div class="pb-20 text-center" *ngIf="!LastAchat">
          <div class="text-center">
            <mat-icon>arrow_downward</mat-icon>
            <div class="col p-5 mt-4">
              <form [formGroup]="initAchat" (ngSubmit)="InitAchatForm(initAchat)">
                <button type="submit" [disabled]="LastAchat" mat-flat-button color="accent"
                  [disabled]="!initAchat.valid"><span class="mx-2">Initialiser un achat</span>
                  <mat-icon> add </mat-icon></button>
              </form>
            </div>
          </div>
        </div>
        <!-- Export Datatable End -->
      </div>
    </div>
  </div>
