<div class="right-sidebar">
  <div class="sidebar-title">
    <h3 class="weight-600 font-16 text-blue">
      Layout Settings
      <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
    </h3>
    <div class="close-sidebar" data-toggle="right-sidebar-close">
      <i class="icon-copy ion-close-round"></i>
    </div>
  </div>
  <div class="right-sidebar-body customscroll">
    <div class="right-sidebar-body-content">
      <h4 class="weight-600 font-18 pb-10">Header Background</h4>
      <div class="sidebar-btn-group pb-30 mb-10">
        <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
        <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
      </div>

      <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
      <div class="sidebar-btn-group pb-30 mb-10">
        <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
        <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
      </div>


      <div class="reset-options pt-5 text-center">
        <button class="btn p-2 btn-danger" id="reset-settings">Reset Settings</button>
      </div>
    </div>
  </div>
</div>



<div class="left-side-bar bg-transparent">
  <div class="brand-logo">
    <a routerLink="/home">
      <img src="../../../assets/logo/logo.png" alt="" class="dark-logo w-50">
      <img src="../../../assets/logo/logo.png" alt="" class="light-logo w-50">
    </a>
    <div class="close-sidebar" data-bs-toggle="left-sidebar-close">
      <i class="icon-close-round"></i>
    </div>
  </div>
  <hr>
  <div class="menu-block mt-lg-4 mt-md-4">
    <!-- <hr> -->
    <div class="sidebar-menu">
      <ul id="menu" class="w-100">
        <!-- OPERATION -->
        <div class="accordion" id="sidebarCollapseParent">

          <div class="accordion-item p-0 m-0">
            <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#operation" aria-expanded="true" aria-controls="operation">
              <span class="text-uppercase">Op&#233;ration</span>
            </button>
            <div id="operation" class="accordion-collapse collapse" aria-labelledby="headingOne"
              data-bs-parent="#sidebarCollapseParent">
              <div class="accordion-body panel p-0">
                <!-- <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow. -->
                <div class="div">
                  <li class="p-0">
                    <a routerLink="home" routerLinkActive="active-sidebar" class="dropdown-toggle no-arrow"
                      (click)="playSound()">
                      <i class="micon dw dw-house"></i>
                      <span class="mtext">Tableau de bord</span>
                    </a>
                  </li>
                  <li class="w-100 p-0">
                    <a href="#" routerLink="lot/list-lot" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-trolley"></i>
                      <span class="mtext">Lot</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="operation/purchase" href="#" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-wheat"></i>
                      <span class="mtext">Achat</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="/etat-entreprise/entrer-caisse" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-enter-1"></i>
                      <span class="mtext">Entrer de caisse</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="/etat-entreprise/sortie-caisse" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-logout-1"></i>
                      <span class="mtext">Sortie de caisse</span>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!-- ETAT / SITUATION -->
          <div class="accordion-item p-0 m-0">
            <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#etat" aria-expanded="true" aria-controls="etat">
              <span>SITUATION</span>
            </button>
            <div id="etat" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#sidebarCollapseParent">
              <div class="accordion-body panel p-0">
                <div class="div">
                  <li>
                    <a routerLink="/etat-entreprise/stock-principale" class="dropdown-toggle no-arrow"
                      routerLinkActive="active-sidebar" (click)="playSound()">
                      <i class="micon dw dw-analytics-11"></i>
                      <span class="mtext">Stock principale</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="/etat-entreprise/caisse-principale" class="dropdown-toggle no-arrow"
                      routerLinkActive="active-sidebar" (click)="playSound()">
                      <i class="micon dw dw-analytics-14"></i>
                      <span class="mtext">Caisse principale</span>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

          <!-- FOURNISSEUR -->
          <div class class="accordion-item p-0 m-0">
            <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#fournisseur" aria-expanded="true" aria-controls="fournisseur">
              <span>FOURNISSEUR</span>
            </button>
            <div id="fournisseur" class="accordion-collapse collapse" aria-labelledby="headingFournisseur"
              data-bs-parent="#sidebarCollapseParent">
              <div class="accordion-body panel p-0">
                <div class="div">
                  <li>
                    <a href="#" routerLink="fournisseur/add-fournisseur" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-add"></i>
                      <span class="mtext">Ajouter</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="fournisseur/list-fournisseur" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-user2"></i>
                      <span class="mtext">Listes & Comptes</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="operation/facture-fournisseur" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-file"></i>
                      <span class="mtext">Facturier</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="operation/create-facture" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-folder-28"></i>
                      <span class="mtext">Facture vente</span>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>


          <!-- CLIENT -->
          <div class class="accordion-item p-0 m-0">
            <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#client" aria-expanded="true" aria-controls="client">
              <span>CLIENTS</span>
            </button>
            <div id="client" class="accordion-collapse collapse" aria-labelledby="headingClient"
              data-bs-parent="#sidebarCollapseParent">
              <div class="accordion-body panel p-0">
                <div class="div">
                  <li>
                    <a href="#" routerLink="client/list-client" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-user-1"></i>
                      <span class="mtext">Liste Client</span>
                    </a>
                  </li>
                  <li>
                    <a routerLink="operation/sales" href="#" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-truck"></i>
                      <span class="mtext">Expedition</span>
                    </a>
                  <li>
                    <a routerLink="operation/situation-client" href="#" routerLinkActive="active-sidebar"
                      class="dropdown-toggle no-arrow" (click)="playSound()">
                      <i class="micon dw dw-calculator"></i>
                      <span class="mtext">Situation</span>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>


          <!-- FIXING -->
          <div class class="accordion-item p-0 m-0">
            <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#fixing" aria-expanded="true" aria-controls="fixing">
              <span>FIXING</span>
            </button>
            <div id="fixing" class="accordion-collapse collapse" aria-labelledby="headingFixing"
              data-bs-parent="#sidebarCollapseParent">
              <div class="accordion-body panel p-0">
                <div class="div">
                  <li>
                    <a href="#" routerLink="/fixing/bourse-view" class="dropdown-toggle no-arrow"
                      routerLinkActive="active-sidebar" (click)="playSound()">
                      <i class="micon dw dw-key"></i>
                      <span class="mtext">Afficher la bourse</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="/fixing/list-fixing" class="dropdown-toggle no-arrow"
                      routerLinkActive="active-sidebar" (click)="playSound()">
                      <i class="micon dw dw-list3"></i>
                      <span class="mtext">Liste des fixings</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="/fixing/add-fixing" class="dropdown-toggle no-arrow"
                      routerLinkActive="active-sidebar" (click)="playSound()">
                      <i class="micon dw dw-add-file-1"></i>
                      <span class="mtext">Fix&#233; un poids</span>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>


          <!-- Rapport -->
          <div class class="accordion-item p-0 m-0">
            <button class="accordion-button p-3 collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#rapport" aria-expanded="true" aria-controls="rapport">
              <span>RAPPORT</span>
            </button>
            <div id="rapport" class="accordion-collapse collapse" aria-labelledby="headingRapport"
              data-bs-parent="#sidebarCollapseParent">
              <div class="accordion-body panel p-0">
                <div class="div pb-3">
                  <li>
                    <a href="#" routerLink="home" class="dropdown-toggle no-arrow" routerLinkActive="active-sidebar"
                      (click)="playSound()">
                      <i class="micon dw dw-user-2"></i>
                      <span class="mtext">Fournisseur</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="home" class="dropdown-toggle no-arrow" routerLinkActive="active-sidebar"
                      (click)="playSound()">
                      <i class="micon dw dw-user-3"></i>
                      <span class="mtext">Client</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="operation/caisse-principale" class="dropdown-toggle no-arrow"
                      routerLinkActive="active-sidebar" (click)="playSound()">
                      <i class="micon dw dw-diamond"></i>
                      <span class="mtext">Caisse</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="home" class="dropdown-toggle no-arrow" routerLinkActive="active-sidebar"
                      (click)="playSound()">
                      <i class="micon dw dw-delivery-truck-1"></i>
                      <span class="mtext">Arrivage (convoie)</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="home" class="dropdown-toggle no-arrow" routerLinkActive="active-sidebar"
                      (click)="playSound()">
                      <i class="micon dw dw-truck"></i>
                      <span class="mtext">Exp&#233;dition (convoie)</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="home" class="dropdown-toggle no-arrow" routerLinkActive="active-sidebar"
                      (click)="playSound()">
                      <i class="micon dw dw-shopping-cart-1"></i>
                      <span class="mtext">Achats</span>
                    </a>
                  </li>
                  <li>
                    <a href="#" routerLink="home" class="dropdown-toggle no-arrow" routerLinkActive="active-sidebar"
                      (click)="playSound()">
                      <i class="micon dw dw-food-cart"></i>
                      <span class="mtext">Ventes</span>
                    </a>
                  </li>
                </div>
              </div>
            </div>
          </div>

        </div>
      </ul>
    </div>
  </div>
</div>
<div class="mobile-menu-overlay"></div>



