<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="text-capitalize fs-3">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right">
            <a class="btn btn-outline-primary mx-2" href="#" routerLink="/operation/list-fixing-client">
              <span class="micon dw dw-list"></span><span class="mtext mx-2">Liste fixing</span>
            </a>
            <a class="btn btn-primary mx-2" href="#" routerLink="/operation/add-fixing-client">
              <span class="micon dw dw-user-11"></span><span class="mtext mx-2">Fix&#233; un poids</span>
            </a>
            <a class="btn btn-outline-primary mx-2" href="#" routerLink="/lot">
              <span class="micon dw dw-mouse"></span><span class="mtext mx-2">Autres</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Export Datatable start -->
      <div class="card-box mb-30">
        <!-- <div class="pd-20">
          <h4 class="text-blue h4">Fix&#233; un poids</h4>
        </div> -->
        <div class="pb-20">
          <div class="d-flex justify-content-between flex-wrap align-items-center">
            <div class="col">
              <h2 class="text-center fw-bold h5">Fixing du client en cours...</h2>
              <form class="" [formGroup]="FixingClient" (ngSubmit)="fixingPOST(FixingClient)">
                <div class="d-flex justify-content-between flex-wrap flex-row align-items-center mb-2">
                  <!-- FOURNISSEUR -->
                  <mat-form-field appearance="outline" class="w-100 mb-2">
                    <mat-label>--- ClIENT ---</mat-label>
                    <mat-select formControlName="client" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let data of ListCLient" [value]="data.id">
                        {{data.raison_sociale + " / " + data.responsable }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="FixingClient.hasError('required')">Selectionnez un client</mat-error>
                    <mat-hint>Liste des clients</mat-hint>
                  </mat-form-field>

                  <!-- POIDS -->
                  <mat-form-field appearance="outline" class="w-100 mb-2">
                    <mat-label>Poids fixing</mat-label>
                    <input formControlName="poids_fixe" matInput placeholder="Ex : 157.12">
                    <mat-hint>Exemple : 500</mat-hint>
                  </mat-form-field>

                  <!-- FIXING BOURSE -->
                  <mat-form-field appearance="outline" class="w-100 mb-2">
                    <mat-label>Cours de l'or</mat-label>
                    <input formControlName="fixing_bourse" matInput placeholder="Ex : 1830">
                    <mat-hint>Exemple : 1830.00</mat-hint>
                  </mat-form-field>

                  <button type="submit" mat-raised-button class="w-100" color="accent" [disabled]="!FixingClient.valid"><span
                      class="mx-2">
                      Valider le fixing </span>
                    <mat-icon>add</mat-icon></button>
                </div>
              </form>
            </div>
            <div class="col-12 col-lg-5">
              <div class="img-responsive">
                <img src="/assets/image/fixing_client.png" class="img-responsive w-100" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Export Datatable End -->
    </div>
  </div>
</div>
