<div class="main-container">
  <div class="pd-ltr-20">
    <div class="card-box pd-20 height-100-p mb-30">
      <div class="row align-items-center">
        <div class="col-md-4">
          <!-- <img src="../../../assets/vendors/images/banner-img.png" alt=""> -->
          <!-- <img src="../../../assets/logo/logo.png" alt=""> -->
          <img src="../../../assets/image/gold.png" alt="">
        </div>
        <div class="col-md-8">
          <h4 class="font-20 weight-500 mb-10">
            Bienvenu...
            <div class="weight-600 font-30 text-secondary"><span class="text-warning">SPA</span> - TECHNOLOGY</div>
          </h4>
          <p class="font-18 max-width-600">
            Cette application totalement conçu pour repondre à vos attentes, vous permettra
            d'éffectuer toutes les opérations liés à l'achat et à la vente de l'or,
            elle est dans sa version <span class="text-primary">DEMO</span>, cette version permet à l'utilisateur
            finale de parcourir l'application et de nous en dire plus sur les parties non developpées
            conformément à votre cahier de charges... <br> pour plus de d&#233;tails
            <a routerLink="documentation" class="text-primary"> voir la documentation</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 mb-30">
        <div class="card-box height-100-p widget-style1">
          <div class="d-flex flex-wrap align-items-center">
            <div class="progress-data">
              <div id="chart"></div>
            </div>
            <div class="widget-data">
              <div class="h4 mb-0">1</div>
              <div class="weight-600 font-14">Lot du jour</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 mb-30">
        <div class="card-box height-100-p widget-style1">
          <div class="d-flex flex-wrap align-items-center">
            <div class="progress-data">
              <div id="chart2"></div>
            </div>
            <div class="widget-data">
              <div class="h4 mb-0">3</div>
              <div class="weight-600 font-14">Achat du jour</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 mb-30">
        <div class="card-box height-100-p widget-style1">
          <div class="d-flex flex-wrap align-items-center">
            <div class="progress-data">
              <div id="chart3"></div>
            </div>
            <div class="widget-data">
              <div class="h4 mb-0">2</div>
              <div class="weight-600 font-14">Fixing du jour</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 mb-30">
        <div class="card-box height-100-p pd-20">
          <h2 class="h4 mb-20">Entrer de caisse</h2>
          <div id="chart5">0.00 USD</div>
          <div id="chart5">0.00 GNF</div>
        </div>
      </div>
      <div class="col-xl-4 mb-30">
        <div class="card-box height-100-p pd-20">
          <h2 class="h4 mb-20">Sortie de caisse</h2>
          <div id="chart6">0.00 USD</div>
          <div id="chart6">0.00 GNF</div>
        </div>
      </div>
      <div class="col-xl-4 mb-30">
        <div class="card-box height-100-p pd-20">
          <h2 class="h4 mb-20">Resultat comptable</h2>
          <div id="chart6"> <span class="mx-2 dw dw-down-arrow text-success"></span> 0.00 USD</div>
          <div id="chart6"> <span class="mx-2 dw dw-up-arrow text-danger"></span> 0.00 GNF</div>
        </div>
      </div>
    </div>
    <div class="card-box mb-30">
      <h2 class="h4 pd-20 text-blue">Tous les achats</h2>
      <!-- <table class="data-table table nowrap">
                <thead>
                    <tr>
                        <th class="table-plus datatable-nosort">Product</th>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Oty</th>
                        <th class="datatable-nosort">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-plus">
                            <img src="../../../assets/vendors/images/product-1.jpg" width="70" height="70" alt="">
                        </td>
                        <td>
                            <h5 class="font-16">Shirt</h5>
                            by John Doe
                        </td>
                        <td>Black</td>
                        <td>M</td>
                        <td>$1000</td>
                        <td>1</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                    role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <img src="../../../assets/vendors/images/product-2.jpg" width="70" height="70" alt="">
                        </td>
                        <td>
                            <h5 class="font-16">Boots</h5>
                            by Lea R. Frith
                        </td>
                        <td>brown</td>
                        <td>9UK</td>
                        <td>$900</td>
                        <td>1</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                    role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <img src="../../../assets/vendors/images/product-3.jpg" width="70" height="70" alt="">
                        </td>
                        <td>
                            <h5 class="font-16">Hat</h5>
                            by Erik L. Richards
                        </td>
                        <td>Orange</td>
                        <td>M</td>
                        <td>$100</td>
                        <td>4</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                    role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <img src="../../../assets/vendors/images/product-4.jpg" width="70" height="70" alt="">
                        </td>
                        <td>
                            <h5 class="font-16">Long Dress</h5>
                            by Renee I. Hansen
                        </td>
                        <td>Gray</td>
                        <td>L</td>
                        <td>$1000</td>
                        <td>1</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                    role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-plus">
                            <img src="../../../assets/vendors/images/product-5.jpg" width="70" height="70" alt="">
                        </td>
                        <td>
                            <h5 class="font-16">Blazer</h5>
                            by Vicki M. Coleman
                        </td>
                        <td>Blue</td>
                        <td>M</td>
                        <td>$1000</td>
                        <td>1</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#"
                                    role="button" data-toggle="dropdown">
                                    <i class="dw dw-more"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                    <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-edit2"></i> Edit</a>
                                    <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table> -->
      <mat-card class="mat-elevation-z8">

        <div class="pd-10">
          <div class="d-flex justify-content-between">
            <div class="col">
              <mat-form-field class="w-100">
                <input [formControl]="search" placeholder="Rechercher ..." matInput>
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="col">
              <div fxFlex.gt-md="38" class="" fxFlex.gt-lg="40" fxFlex="100">
                <form [formGroup]="rangeFormGroup">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Filtrer par dates</mat-label>
                    <mat-date-range-input>
                      <input matStartDate placeholder="Start date" formControlName="start">
                      <input matEndDate placeholder="End date" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle [matMenuTriggerFor]="menu" matSuffix></mat-datepicker-toggle>
                  </mat-form-field>
                </form>
              </div>
              <mat-menu #menu="matMenu" fxLayout="row wrap" yPosition="above" class="p-t-0">
                <div class="m-r-3 text-left p-t-0" style="width: max-content;height: max-content;" fxFlex.md="100"
                  fxFlex.sm="100" fxFlex="100">
                  <div fxLayout="row no-wrap" (click)="$event.stopPropagation();" class="p-t-0 ">
                    <mat-button-toggle-group [(ngModel)]="this.matButtonControle" [appearance]="'standard'"
                      (change)="matGroupButtonChange($event.value)" [cdkAriaLive]="'polite'" aria-label="Font Style"
                      class="text-primary border border-0 d-flex flex-wrap" fxLayout="row wrap">

                      <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="7"><small
                          class="text-primary">
                          7 deriers
                          jours </small></mat-button-toggle>
                      <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" class="p-0 m-0" value="30"><small
                          class="text-primary">
                          <small>30 derniers
                            jours</small></small>
                      </mat-button-toggle>
                      <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="currentMonth"><small
                          class="text-primary">Ce
                          mois-ci</small>
                      </mat-button-toggle>
                      <!-- <mat-button-toggle fxFlex.md="50" fxFlex.sm="50" fxFlex="50" value="lastMonth"> <small
                                class="text-primary">Le mois
                                dernier</small>
                            </mat-button-toggle> -->
                    </mat-button-toggle-group>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div mat-menu-item style="height: max-content;width:700px;" (click)="$event.stopPropagation();"
                  fxFlex.md="100" fxFlex.sm="100" fxFlex="100">
                  <mat-calendar style="height: max-content;width: 100%;" (click)="$event.stopPropagation();" #picker
                    (selectedChange)="_onSelectedChange($event)" [selected]="selectedDateRange">
                  </mat-calendar>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row no-wrap" class="p-1" fxFlex.md="100" fxFlex.sm="100" fxFlex="100">
                  <button fxFlex.md="45" class="m-1 p-1 w-100" fxFlex.sm="45" fxFlex="48" mat-raised-button
                    color="primary" (click)="this.appliqueRange()"> Appliquer </button>
                  <button fxFlex.md="45" class="m-1 p-1 w-100" (click)="this.reset()" fxFlex.sm="45" fxFlex="45"
                    mat-raised-button color="warn">
                    <span class=""> Afficher Tous les achat</span>
                  </button>
                </div>
              </mat-menu>
            </div>
            <!-- Fin calendrier -->
            <div class="col">
              <mat-select *ngIf="this.rangeFormGroup?.value?.start" (selectionChange)="this.filterVendor($event.value)"
                placeholder="Sélectionner un fournisseur" appearance="outline" class="p-3 form-control">
                <mat-option>
                  <ngx-mat-select-search [formControl]="searchFilterVendorCtrl">
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option [value]="-1">-- Aucune selection --</mat-option>
                <mat-option *ngFor="let vendor of FilterVendor | async " [value]="vendor.id">
                  {{vendor.nom}} {{vendor.prenom}} {{vendor.telephone}}
                </mat-option>
              </mat-select>
            </div>
            <!-- Fin select fournisseur -->
          </div>
        </div>
        <!-- END FILTER -->
        <mat-card-content id="table_shadow">
          <table mat-table [dataSource]="dataSource" class="" class="w-100">
            <ng-container matColumnDef="created_at">
              <th mat-header-cell *matHeaderCellDef>Achat du : </th>
              <td mat-cell *matCellDef="let element">Le : {{element.date_achat | date: 'dd/MM/yyyy' }}</td>
            </ng-container>
            <ng-container matColumnDef="slug">
              <th mat-header-cell *matHeaderCellDef>N<sup>o</sup> - Achat</th>
              <td mat-cell *matCellDef="let element">#00{{element.id}}</td>
            </ng-container>
            <ng-container matColumnDef="fournisseur">
              <th mat-header-cell *matHeaderCellDef>Fournisseur</th>
              <td mat-cell *matCellDef="let element">{{element.fournisseur.prenom + " " + element.fournisseur.nom}}
              </td>
            </ng-container>

            <ng-container matColumnDef="telephone">
              <th mat-header-cell *matHeaderCellDef>Telephone</th>
              <td mat-cell *matCellDef="let element">{{element.fournisseur.telephone}}</td>
            </ng-container>

            <ng-container matColumnDef="poids_total">
              <th mat-header-cell *matHeaderCellDef>Poids Total</th>
              <td mat-cell *matCellDef="let element">{{ element.poids_total }}</td>
            </ng-container>

            <ng-container matColumnDef="carrat_achat">
              <th mat-header-cell *matHeaderCellDef>Carrat Moyen</th>
              <td mat-cell *matCellDef="let element">{{ element.carrat_moyen.toString().substring(0, 5) }}</td>
            </ng-container>

            <ng-container matColumnDef="action" class="text-center">
              <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
              <td mat-cell *matCellDef="let element" class="text-center">

                <a routerLink="/operation/facturepurchase/{{element.id}}" mat-button color="primary"
                  class="mx-2"><strong> <mat-icon>printer</mat-icon> Facture achat</strong></a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displaysColums;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns:displaysColums"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15, 50, 100]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
      SPA - TECHNOLOGY - <a href="https://dsg-gn.com" target="_blank">voir le site de l'entreprise</a>
    </div>
  </div>
</div>
