<div class="mat-elevation-z0" id="couvertureAll">
  <div class="p-2"></div>
  <div
    class="login-wrap vh-100 d-flex align-items-center flex-wrap justify-content-center">
    <div class="col">
      <div class="login-box border-radius-10">
        <div class="login-title text-center">
          <h2 class="text-center">Limanaya Business</h2>
          <span class="text-center text-danger border border-warning p-2 w-100"
            *ngIf="noLogin">Pseudo ou Mot de passe incorrect !</span>
        </div>
        <form [formGroup]="userLogin">
          <div class="select-role">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn" (click)="updateRole('Administrateur')">
                <input type="radio" id="admin" />
                <div class="icon"><img src="./assets/logo/logo.png" class="svg"
                    alt></div>
                <i>Master </i>
                Manager
              </label>
              <label class="btn" (click)="updateRole('Utilisateur')">
                <input type="radio" id="user">
                <div class="icon"><img src="./assets/logo/logo.png" class="svg"
                    alt></div>
                <i>Uses : </i>
                Utilisateur
              </label>
            </div>
          </div>
          <!-- <h4 class="alert alert-success text-center">{{ message }}</h4> -->
          <!-- <hr> -->

          <div class="input-group custom">
            <input type="text" class="form-control form-control-lg fs-5 fw-bold"
              placeholder="Votre pseudo-name"
              formControlName="username">
            <div class="input-group-append custom">
              <span class="input-group-text"><i
                  class="icon-copy dw dw-user1"></i></span>
            </div>
          </div>
          <div class="input-group custom">
            <input type="password" id="password_"
              class="form-control form-control-lg fs-5 fw-bold"
              placeholder="Mot de passe"
              formControlName="motDePasse">
            <div class="input-group-append custom">
              <span class="input-group-text">
                <i class="dw dw-lock" id="passwordControl"
                  (click)="viewPassword()" *ngIf="viewPass == false"></i>
                <i class="dw dw-unlock" id="passwordControl"
                  (click)="hiddenPassword()" *ngIf="viewPass == true"></i>
              </span>
            </div>
          </div>
          <hr>
          <span class="fw-bold text-light">Mot de passe : <i
              class="text-success"> Crypt&#233;</i></span> <br>
          <span class="fw-bold text-light">Web - secured : <i
              class="text-success"> SSL</i></span> <br> <br>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-0">
                <button mat-flat-button color="warn"
                  (click)="authFunction(userLogin)"
                  [disabled]="userLogin.invalid">Connexion</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
