#bgTable table td, #bgTable table th {
  border: 1px solid black;
}

#bgTable table th{
  width: 50%;
}

#bgTable table td{
  width: 50%;
  text-align: center;
}

#recu{
  padding: 12px;
  border: 2px dashed rgb(0, 0, 0);
}

#entete{
  /* border: 2px dashed rgb(0, 0, 0); */
  padding: 12px;
}

#leftRecu img{
  height: 130px;
}

/* #cadreQR{
  background-color: #d2d2d2
} */

#rightRecu h5{
  color: black;
  font-size: 16px;
}

.table-recu tr th{
  color: midnightblue;
  font-size: 16px;
}

.infoLimanaya{
  border-top: 1px solid black;
}
