<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-12 col-md-4 col-sm-12">
            <div class="title">
              <h4 class="fs-3 lot">{{title}}</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
          <div class="text-right d-flex justify-content-between align-items-center">
            <div class="col-reply">
              <button (click)="this.location.back()" mat-icon-button color="warn"><mat-icon
                  class="mat-24">reply</mat-icon>
              </button>
            </div>
            <div class="col-btn">
              <button class="mx-2 fw-bold" mat-flat-button color="accent" routerLink="/lot/list-lot">
                <span class="micon dw dw-list"></span><span class="mtext mx-2"> Liste des lots</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="primary" routerLink="/lot/add-lot">
                <span class="micon mdi mdi-plus-thick"></span><span class="mtext mx-2"> Cr&#233;er un lot</span>
              </button>
              <button class="mx-2 fw-bold" mat-flat-button color="warn" routerLink="/operation/add-purchase/">
                <span class="micon mdi mdi mdi-cart-arrow-right"></span><span class="mtext mx-2"> Continuer vers l'achat</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Export Datatable start -->
      <mat-card>
        <mat-tab-group>
          <mat-tab label="LOT DU JOUR">
            <table class="table">
              <thead>
                <th>Date</th>
                <th>N<sup>o</sup>_Docs</th>
                <th>Designation</th>
                <th class="">Status</th>
                <th class="text-center">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let lot of listLot">
                  <td><strong>{{ lot.created_at | date:'dd/MM/yyyy' }}</strong></td>
                  <td>00{{ lot.id }}</td>
                  <td>{{ lot.designation }}</td>
                  <td class="">
                    <span class="text-warning fw-bold" *ngIf="lot.status == 1">Ouvert</span>
                  </td>
                  <td class="text-center">
                    <a routerLink="/lot/detail-lot/{{ lot.id }}" (click)="playSound()" mat-raised-button color="">
                      <span class="fw-bold text-long">Voir le contenu </span>
                      <i class="micon dw dw-right-arrow"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-tab>


          <!-- Historique -->
          <mat-tab label="ARCHIVES DES LOTS">
            <mat-form-field>
              <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)" class="w-100" placeholder="Ex. lot du 13xxx" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
              <!-- Position Column -->
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/YYYY'}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="Docs">
                <th mat-header-cell *matHeaderCellDef> Docs </th>
                <td mat-cell *matCellDef="let element"> #00{{element.id}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="Designation">
                <th mat-header-cell *matHeaderCellDef> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                  <span class="text-danger fw-bold"> <i class="icon-copy dw dw-lock mx-1"></i>
                    Fermer</span>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                  <a routerLink="/lot/detail-lot/{{ element.id }}" (click)="playSound()" mat-raised-button color="warn">
                    <span class="fw-bold">Voir le contenu </span>
                    <i class="icon-copy dw dw-right-arrow"></i>
                  </a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          </mat-tab>

          <!-- MAJ -->
          <mat-tab label="MISE A JOURS">
            <div class="d-flex justify-content-between align-items-center pt-3">
              <div class="col">
                <h4><i>UPDATE ITEM</i></h4>
              </div>
              <div class="col text-end">
                <!-- Type -->
                <mat-form-field appearance="fill" class="mb-2 p-0">
                  <mat-label>--- LISTE LOT ---</mat-label>
                  <mat-select disableRipple required (selectionChange)="listLotEvent($event.value)">
                    <mat-option>-- Ne rien afficher ---</mat-option>
                    <mat-option *ngFor="let x of allLot" [value]="x.id">{{ x.designation }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- Tableau update -->
            <mat-form-field>
              <mat-label>Rechercher</mat-label>
              <input matInput (keyup)="applyFilter($event)" class="w-100" placeholder="Ex. lot du 13xxx" #input>
            </mat-form-field>
            <table mat-table [dataSource]="dataSource_maj" class="mat-elevation-z8 w-100">
              <!-- Position Column -->
              <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/YYYY'}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="Poids">
                <th mat-header-cell *matHeaderCellDef> Poids </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.poidsItem}} </td> -->
                <td mat-cell *matCellDef="let element">
                  <input matInput [(ngModel)]="element.poidsItem" (blur)="saveTableData(element)">
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Carrat">
                <th mat-header-cell *matHeaderCellDef> Carrat </th>
                <td mat-cell *matCellDef="let element"> {{element.carratItem}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="Manquant">
                <th mat-header-cell *matHeaderCellDef> Manquant </th>
                <!-- <td mat-cell *matCellDef="let element" class="text-danger"> {{element.manquant}} </td> -->
                <td mat-cell *matCellDef="let element">
                  <input matInput [(ngModel)]="element.manquantItem" (blur)="saveTableData(element)">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns_maj"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns_maj;"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucune donnees pour ce filtre : "{{input.value}}"</td>
              </tr>
            </table>
          </mat-tab>

        </mat-tab-group>
      </mat-card>

      <!-- Export Datatable End -->
    </div>
  </div>
</div>
