<h1 matDialogTitle class="text-primary" id="text">Nouvelle Opération</h1>
<mat-dialog-content style="width: 400px">
  <form [formGroup]="form">
    <!-- Type -->
    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>--- Type de l'op&#233;ration ---</mat-label>
      <mat-select formControlName="operation" required (selectionChange)="vendorChoice($event.value)">
        <mat-option>-- Ne rien faire ---</mat-option>
        <mat-option [value]="1">Entrer de caisse</mat-option>
        <mat-option [value]="2">Sortie de caisse</mat-option>
        <mat-option [value]="3">Retour caisse</mat-option>
        <mat-option [value]="4">D&#233;caissement</mat-option>
      </mat-select>
      <mat-hint>Liste des op&#233;ration</mat-hint>
    </mat-form-field>
    <br>

    <!-- Fournisseur -->
    <mat-form-field appearance="outline" class="w-100 mb-2" *ngIf="isTrue">
      <mat-label>--- Liste des fournisseur ---</mat-label>
      <mat-select formControlName="fournisseur" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let data of ListFrs" [value]="data.id">
          {{data.prenom + " " + data.nom }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required')">Selectionnez un fournisseur</mat-error>
      <mat-hint>Liste des fournisseur</mat-hint>
    </mat-form-field>
    <br>

    <!-- Representant -->
    <mat-form-field appearance="outline" class="w-100" *ngIf="isTrue">
      <mat-label>Representant</mat-label>
      <input matInput type="text" formControlName="representant" class="w-100" placeholder="Representant">
      <mat-hint>Payer a :</mat-hint>
    </mat-form-field>

    <!-- Devise -->
    <mat-form-field appearance="outline" class="w-100 mb-2">
      <mat-label>--- Devise de l'op&#233;ration ---</mat-label>
      <mat-select formControlName="devise">
        <mat-option>-- Ne rien faire ---</mat-option>
        <mat-option [value]="1">GNF</mat-option>
        <mat-option [value]="2">USD</mat-option>
      </mat-select>
      <mat-hint>Choisir une devise</mat-hint>
    </mat-form-field>
    <br>

    <!-- Montant -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Montant de l'op&#233;ration</mat-label>
      <input matInput type="number" formControlName="montant" class="w-100" placeholder="Montant de l'op&#233;ration">
      <mat-hint>Entrer le montant de l'op&#233;ration</mat-hint>
    </mat-form-field>
    <br>

    <!-- Motif -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Motif</mat-label>
      <textarea matInput matTextareaAutosize required placeholder="Motif" formControlName="motif"></textarea>
      <mat-hint>Saisissez un motif</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="warn" matDialogClose>Fermer</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="saveData()">Valider</button>
</mat-dialog-actions>
